.button{
	color: white;
	padding:10px;
	padding-left: 30px;
	padding-right: 30px;
	border: none; 
	float: right;
	border-radius: 25px;
	/*box-shadow: 3px 3px #bbb;*/
	margin-top: 15px;
	margin-right: 15px;
	font-size: 18px;
	font-family: "Helvetica";
	background-color: #3786D6;
	cursor: pointer;
}
.txt1{
    /*color: white;*/
    /*border-radius: 10px;*/
    padding:10px;
    /*background-color: black;*/
    font-family: "Helvetica";
    border: none; 
    border-bottom:1px #ccc solid;
    width: 70%;
}
.password:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.password{
	color: white;
	float: right;
	
	padding:10px;
	padding-left: 30px;
	padding-right: 30px;
	border: none; 
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;

	margin-right: 15px;
	font-size: 18px;
	font-family: "Helvetica";
	background-color: red;
	cursor: pointer;
}
.button:hover{
	color: white;
	padding:10px;
	padding-left: 30px;
	padding-right: 30px;
	border: none; 
	float: right;
	border-radius: 10px;
	box-shadow: 3px 3px #bbb;
	margin-top: 15px;
	margin-right: 15px;
	font-size: 18px;
	font-family: "Helvetica";
	background-color: black;
	cursor: pointer;
}
.active{
	/*border:1px red solid;*/
	/*padding: 10px 20px;*/
	font-family: "Helvetica";
	/*box-shadow: 3px 3px #bbb;*/
	/*font-weight: bold;*/
	/*margin: auto;*/
	/*border-radius: 5px;*/
	/*color: white;*/
	font-size: 20px;
	color: #28a745;
}
.softdisco{
	/*border:1px red solid;*/
	padding: 10px 20px;
	font-family: "Helvetica";
	/*box-shadow: 3px 3px #bbb;*/
	font-weight: bold;
	margin: auto;
	border-radius: 5px;
	color: white;
	background: #f39c12;
}
.inactive{
	/*border:1px red solid;*/
	padding: 10px 20px;
	font-family: "Helvetica";
	/*box-shadow: 3px 3px #bbb;*/
	font-weight: bold;
	margin: auto;
	border-radius: 5px;
	color: white;
	background: #d2d6de;
}
.form{
     max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    /*padding-top: 10px;*/
    margin-top: 25px;
}
.disconnect{
	/*border:1px red solid;*/
	/*padding: 10px 20px;*/
	font-family: "Helvetica";
	/*box-shadow: 3px 3px #bbb;*/
	/*font-weight: bold;*/
	/*margin: auto;*/
	/*border-radius: 5px;*/
	/*color: white;*/
	font-size: 20px;
	color:#c82333;
}
.container{
	/*border: 1px blue solid;*/
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.logo{
	margin-left: 0px;
	width: 300px;
}

.section{
	/*border: 1px red solid;*/
	/*height: 300px;*/
	padding: 10px;
	font-family: "Helvetica";
	max-width: 1200px;
	margin: auto;
	/*display: block;*/
}
.blue{
	color:#3786D6;
	font-size: 18px;
}
.customerdata{
	margin: 0;
	font-family: "Helvetica";
	/*border:1px red solid;*/

}
.customerdata td{
	height: 20px;
	/*border:1px red solid;*/
	width: 150px;
	padding-left: 10px;
}
.customerMemTrans{
	/*margin: auto;*/
	text-align: left;
	/*margin-top: 10px;*/
	font-size: 15px;
	font-family: "Helvetica";
	width: 60%;
	/*border:1px red solid;*/
}
.customerMemTrans td{
	height: 25px;
	/*border:1px red solid;*/
	width: 180px;
	padding-left: 10px;
	margin-bottom: 8px;
	/*min-width: 200px;*/
	/*padding-left:40px;*/
}
.payments td{
	/*background-color: black !important;*/
	/*color: red;*/
	height: 10px !important;
	/*color: #009FCC;*/
}
.table{
	/*border-radius: 15px;*/
	cursor: pointer;
	background-color: white;
	/*padding: 20px !important;*/
	padding-left: 50px;

	/*box-shadow: 10px 10px #bbb;*/
}
.bill{
	padding-left:20px;
	padding-top:20px;

	background-color: white;
	border: 1px #ccc solid;
	margin-bottom: 20px;

}
.wrapper{
	margin: 0;
	padding: 0;

	/*background-color: black;*/
}

.banner{
	text-align:left; 
	font-size:20px;
	/*border: 1px #ccc solid;*/
	border-radius: 8px;
	color: white;
	background-color:#3786D6;
	font-weight: bold;
 /*h/*/
  background-image: linear-gradient(to bottom right, transparent 50%, white 50%), linear-gradient(#3786D6, #3786D6), linear-gradient(white, white);
  background-size: 70px 70px, 100% 100%, 100% 100%;
  background-position: 100% 0%, -25px 20%, 100% 25px;
  background-repeat: no-repeat;
}

:host /deep/ ng2-smart-table thead > tr > th  a{ 
       color: #3786D6 !important;  
       font-size: 15px;
}

:host /deep/ ng2-smart-table-pager{ 
       color: #009FCC !important;  
       font-size: 11px;
       text-align: center;
       margin-left: 45%;
}
@media screen and (max-width: 460px) {
/* start of medium tablet styles */
  .logo{
  	width: 150px;
  }
}